<%=render 'layouts/rotate_portrait'%>

<!--Start Screen -->
<div class="start-screen">
  <%=image_tag "header.png", class: "header"%>
  <%=image_tag "redbox_iq_box.png", class: "redbox_iq_box"%>
  <h1>Up for the challenge?</h1>
  <p>Play our trivia game and<br> earn up to $3.00 OFF a disc rental.</p>
  <button id="start_button" onclick="gtag('event','lets_play_trivia',{'event_category' : 'Intro','event_label': 'play_trivia'});">Let's Play Trivia</button>
</div>
<!--End Start Screen -->


<!--Interstitial Screen -->
<div id="interstitial">
  <div class="interstitial-box">
    <%=image_tag "modal_exit_icon.png", class: "close"%>
    <h1>How to play</h1>
    <ul>
      <li>You'll earn &#36;0.25 off for every correct answer</li>
      <li>You'll have 10 seconds to answer each question</li>
      <li>Tap an answer to select your choice</li>
    </ul>
    <h2>Use the key to check<br>your answers!</h2>
    <div class="btn-correct">correct</div>
    <div class="btn-incorrect">incorrect</div>
  </div>
</div>
<!--End Interstitial Screen -->



<!--Main Trivia Game -->
<section class="trivia">
  <div id="header">
    <%=image_tag "header.png", class: "header"%>
    <div class="timer-wrapper">
      <div id="timer"></div>
    </div>
  </div>

  <%= render partial: 'progress_bar' %>
  <div id="answer-copy"></div>

  <div id="question_wrapper">
    <div id="question_div"></div>
  </div>

  <div id="choices_div"></div>
  <div id="source_div"></div>
</section>
<!--END Main Trivia Game -->

